/* header_slider */

.header-section_slider {
    width: 84.375%;
    min-width: 84.375%;
    max-width:1620px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 309px;
}

.header-section_slider_arrow-left {
    width: 2.469135802469136%;
    height: 7.4rem;
    display: block;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header-section_slider_arrow-right {
    width: 2.469135802469136%;
    height: 7.4rem;
    display: block;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(180deg);
}

.header-section_slider_arrow-right:hover {
    opacity: 0.8;
}

.header-section_slider_arrow-left:hover {
    opacity: 0.8;
}

.header-section_slider_content {
    width: 36.35802469135802%;
    min-width:36.35802469135802%;
    max-width: 589px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-section_slider_caption-one {
    width: 100%;
    text-align: center;
    color: $color-1;
    font-family: $Raleway;
    font-size: 3.6rem;
    font-weight: 500;
    text-transform: capitalize;
}

.header-section_slider_caption-two {
    width: 100%;
    text-align: center;
    color: $color-1;
    font-family: $Raleway-ExtraBold;
    font-size: 5.2rem;
    font-weight: 400;
    text-transform: capitalize;
}

.header-section_slider_item {
    width: 90%;
    display: block;
    color: $color-1;
    font-family: $Montserrat;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.1;
    text-align: center;
}

.header-section_slider_button {
    width: 10.49382716049383%;
    min-width: 170px;
    max-width:170px ;
    height: 5.3rem;
    min-height: 42px;
    max-height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    box-sizing: content-box;
    margin-top: 52px;
    border-radius: 0.5rem;
    background-color: $color-16;
    color: $color-1;
    font-family: $Raleway-ExtraBold;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
}

.header-section_slider_button:hover {
    background-color: $color-1;
    color: $color-16;
}

.header-section_slider_button:focus {
    background-color: $color-1;
    color: $color-16;
}

.header-section_slider_select {
    width: 5.104166666666667%;
    min-width: 5.104166666666667%;
    max-width:11px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding-top: 329px;
}

.header-section_slider_select_link {
    width: 11px;
    min-width:11px;
    max-width: 11px;
    height: 11px;
    min-height: 11px;
    max-height: 11px;
    border-radius: 50%;
    display: block;
    background-color: $color-1;
    opacity: 0.5;
    margin-right: 9px;
    position: relative;
}

.header-section_slider_select_link:nth-child(5){
    margin-right: 0%;
}

.header-section_slider_select_link:hover::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
    border: 2px solid $color-18;
    background-color: none;
    position: absolute;
    top: -40%;
    left: -40%;
}

.header-section_slider_select_link:hover{
    background: none;
}