/* header-section */

.header-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $color-4;
    background-image: $header-bg;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 62px 0 42px 0;
}

/* header */

.header {
    width: 60.9375%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.main-logo {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: $color-1;
    transition: .3s linear;
    fill: $color-1;
    &:hover {
        color: $color-2;
        fill: $color-2;
    }
    &:focus {
        opacity: 0.8;
    }
}

.logo-caption {
    text-transform: capitalize;
    box-sizing: border-box;
    font-family: $Raleway;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
}

/* nav */

.nav {
    width: 65.81196581196581%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.main-menu {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-menu_item_link {
    text-decoration: none;
    text-transform: capitalize;
    color: $color-1;
    font-family: $Montserrat;
    font-size: 1.4rem;
    font-weight: 300;
    transition: .3s linear;
    &:hover {
        color: $color-2;
    }
    &:focus {
        opacity: 0.8;
    }
}

.menu-button {
    width: 17.27272727272727%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 1px 0 1px 8.181818181818182%;
}

.menu-button_link {
    width: 40%;
    height: 2.4rem;
    transition: .3s linear;
    &:hover {
        transform: scale(1.1);
    }
    &:focus {
        opacity: 0.8;
    }
}

.menu-button_link:nth-child(1) {
    background-image: url(../img/icon-cart.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.menu-button_link:nth-child(2) {
    background-image: url(../img/icon-search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}