/* header_slider */

.header-section_slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 309px;
}

.header-section_slider_arrow {
    display: block;
    width: 40px;
    height: 74px;
    display: block;
    position: absolute;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.3;
    transition: .5s linear;
    &:hover {
        opacity: 1;
    }
}

.left {
    top: 50%;
    left: 7.8%;
}

.right {
    transform: rotate(180deg);
    top: 50%;
    right: 7.8%;
}

.header-section_slider_caption-one {
    text-align: center;
    color: $color-1;
    font-family: $Raleway;
    font-size: 3.6rem;
    font-weight: 500;
    text-transform: capitalize;
}

.header-section_slider_caption-two {
    text-align: center;
    color: $color-1;
    font-family: $Raleway-ExtraBold;
    font-size: 5.2rem;
    font-weight: 400;
    text-transform: capitalize;
}

.header-section_slider_item {
    width: 50%;
    min-width: 50%;
    color: $color-1;
    font-family: $Montserrat;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.1;
    text-align: center;
}

.header-section_slider_button {
    width: 170px;
    min-width: 170px;
    max-width: 170px;
    height: 53px;
    min-height: 53px;
    max-height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    box-sizing: content-box;
    margin-top: 52px;
    border-radius: 5px;
    background-color: $color-16;
    color: $color-1;
    font-family: $Raleway-ExtraBold;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    transition: .5s linear;
    &:hover {
        background-color: $color-1;
        color: $color-16;
        animation: realization_word-press_button .3s ease-in;
    }
    &:focus {
        opacity: 0.8;
    }
}

@media screen and (min-width: 840px) and (max-width: 1223px) {
    .header-section_slider_caption-one{
        font-size: 30px;
    }
    .header-section_slider_caption-two{
        font-size: 40px;
    }
    .header-section_slider_item{
        font-size: 14px;
    }

}

.header-section_slider_select {
    width: 5.104166666666667%;
    min-width: 5.104166666666667%;
    max-width: 11px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding-top: 329px;
}

.header-section_slider_select_link {
    width: 11px;
    min-width: 11px;
    max-width: 11px;
    height: 11px;
    min-height: 11px;
    max-height: 11px;
    border-radius: 50%;
    display: block;
    background-color: $color-1;
    opacity: 0.5;
    margin-right: 9px;
    position: relative;
    transition: .5s linear;
    &:hover {
        background: none;
    }
}

.header-section_slider_select_link:nth-child(5) {
    margin-right: 0%;
}

.header-section_slider_select_link:hover::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
    border: 2px solid $color-18;
    background-color: none;
    position: absolute;
    top: -40%;
    left: -40%;
}

