/* header-section */

.header-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $color-4;
    background-image: $header-bg;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 62px 0 42px 0;
   
}

/* header */

.header{
    width:($content/$wrapper-max-width)*100%;
    max-width: $content;
    min-width: ($content/$wrapper-max-width)*100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.main-logo {
    display:inline-flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.logo-svg{
    fill:  $color-1;
}

.logo-caption{
    text-transform: capitalize;
    box-sizing: border-box;
    color: $color-1;
    font-family: $Raleway;
    font-size: 3.4rem;
    font-weight: 400;
    letter-spacing: -1.36px;
}

.main-logo:hover .logo-svg {
    fill:  $color-2;
}

.main-logo:hover .logo-caption {
    color: $color-2;
}

.main-logo:focus{
     opacity: 0.8;
}



/* nav */

.nav {
    width: 54.44444444444444%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin-left: 18.71794871794872%;
    
}


.main-menu{
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

/* .main-menu_item{
    margin-right: 4.709576138147567%;
}

.main-menu_item:last-child{
    margin-right: 0%;
} */


.main-menu_item_link {
    text-decoration: none;
    text-transform: capitalize;
    color: $color-1;
    font-family: $Montserrat;
    font-size:1.4rem;
    font-weight: 300;
}

.main-menu_item_link:hover{
    color: $color-2;
}

.menu-button{
    width: 5.982905982905983%;
    min-width: 5.982905982905983%;
    max-width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5.384615384615385%;
}

.menu-button_link{
    width: 34.28571428571429%;
    height:2.4rem;
}

.menu-button_link:nth-child(1){
    background-image: url(../img/icon-cart.png);
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: contain;
}

.menu-button_link:nth-child(2){
    background-image: url(../img/icon-search.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.menu-button_link:hover{
    transform: scale(1.2) ;
}

.menu-button_link:focus{
    opacity: 0.8;
}
