/* our-services */

.our-services {
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: space-between;
    background-color: $color-1;
    margin: 0 auto;
    padding: 8.9rem 0 16.3rem 0;
}

.our-services_link {
    width: 266px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    position: relative;
    
}


.our-services_link_icon {
    width: 49px;
    min-width: 49px;
    height:44px;
    min-height: 44px;
    background-image: url(../img/icon_pencil.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.3s linear;
}

.our-services_link_caption {
    text-align: center;
    color: $color-4;
    font-family: $Raleway-SemiBold;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 30px;
    transition: 0.3s linear;
}

.our-services_link_item {
    display: block;
    text-align: center;
    color: $color-5;
    font-family: $Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height:1;
    text-transform: capitalize;
    margin-top: 24px;
    transition: 0.3s linear;
}

.our-services_link_item::after{
    content:'';
    display:  block;
    width: 70px;
    min-width: 70px;
    height: 3px;
    min-height: 3px;
    background-color: $color-17;
    margin: 0 auto;
    margin-top: 30px;
    transition: 0.3s linear;
    
}

.our-services_link_item_hover{
    display: none;
    text-align: center;
    color: $color-5;
    font-family: $Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height:1;
    margin-top: 24px;
    transition: 0.3s linear;
}

.our-services_link_item_hover::after{
    content:'';
    display:  block;
    width:70px;
    min-width:70px;
    height: 3px;
    min-height: 3px;
    background-color: $color-2;
    margin: 0 auto;
    margin-top: 30px;
    transition: 0.3s linear;
}

.our-services_link:hover{
    
    .our-services_link_icon{
        background-image: url(../img/icon_pencil_hover.png);
    }
    .our-services_link_caption{
        color: $color-2;
    }
   .our-services_link_item{
        display: none;
    }
    .our-services_link_item_hover{
        display: block;
    }
}

.our-services_link:focus{
    
    .our-services_link_icon{
        background-image: url(../img/icon_pencil_hover.png);
    }
    .our-services_link_caption{
        color: $color-2;
    }
    .our-services_link_item::after{
        background-color: $color-2;
    }
}


.our-services_link:nth-child(2){
    
    .our-services_link_icon{
        background-image: url(../img/icon_layer.png);
    }
}

.our-services_link:nth-child(2):hover{
    
    .our-services_link_icon{
        background-image: url(../img/icon_layer_hover.png);
    }
}

.our-services_link:nth-child(2):focus{
    
    .our-services_link_icon{
        background-image: url(../img/icon_layer_hover.png);
    }
}

.our-services_link:nth-child(3){
    
    .our-services_link_icon{
        background-image: url(../img/icon_service.png);
    }
}


.our-services_link:nth-child(3):hover{
    
    .our-services_link_icon{
        background-image: url(../img/icon_service_hover.png);
    }
}

.our-services_link:nth-child(3):focus{
    
    .our-services_link_icon{
        background-image: url(../img/icon_service_hover.png);
    }
}


.our-services_link:nth-child(4){
    
    .our-services_link_icon{
        background-image: url(../img/icon_case.png);
    }
}

.our-services_link:nth-child(4):hover{
    
    .our-services_link_icon{
        background-image: url(../img/icon_case_hover.png);
    }
}

.our-services_link:nth-child(4):focus{
    
    .our-services_link_icon{
        background-image: url(../img/icon_case_hover.png);
    }
}