/* realization */

.realization {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-7;
    padding-bottom: 20px;
}

.realization_caption {
    text-align: center;
    color: $color-4;
    font-family: $Raleway-SemiBold;
    font-size: 3rem;
    font-weight: 400;
}

.realization_item {
    width: 39.5%;
    min-width: 39.5%;
    text-align: center;
    color: $color-5;
    font-family: $Montserrat;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2;
}

.realization_slider {
    width: 64.0625%;
    min-width: 64.0625%;
    min-width: 1230px;
    height: 482px;
    min-height: 482px;
    max-height: 482px;
    position: relative;
    margin-top: 40px;
}

@media screen and (min-width: 840px) and (max-width: 1223px) {
    .realization_slider {
        width: 100%;
        min-width: 100%;
    }
}

.realization_slider_link {
    display: block;
    width: 62.60162601626016%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.realization_slider_img {
    height: 100%;
}

.realization_slider_link:nth-child(1) {
    
    left: 0%;
    top: 82px;
    z-index: 1;
    transform-origin: 50% 50%;
    &:hover {
        transform: scale(1.2);
        z-index: 5;
    }
}

.realization_slider_link:nth-child(2) {
    left: 18.69918699186992%;
    /* top: 50px; */
    z-index: 3;
    transform-origin: 50% 50%;
    &:hover {
        transform: scale(1.2);
        z-index: 5;
    }
}

.realization_slider_link:nth-child(3) {
    
    right: 0%;
    top: 82px;
    z-index: 1;
    transform-origin: 50% 50%;
    &:hover {
        transform: scale(1.2);
        z-index: 5;
    }
}

.realization_word-press {
    width: 100%;
    min-width: 100%;
    max-width: $wrapper-max-width;
    background-color: $color-11;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    padding: 50px 0 50px 0;
    &:hover {
        animation: realization_word-press_grad  1s ease-in alternate-reverse;
    }
}



.realization_word-press_container {
    width: ($content/$wrapper-max-width)*100%;
    min-width: ($content/$wrapper-max-width)*100%;
    max-width: $content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.realization_word-press_caption {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.realization_word-press_caption-one {
    color: $color-1;
    font-family: $Raleway;
    font-size: 2.8rem;
    font-weight: 400;
    .realization_word-press_caption-one_color {
        color: $color-2;
    }
}

.realization_word-press_caption_item {
    color: $color-24;
    font-family: $Montserrat;
    font-size: 1.8rem;
    font-weight: 300;
}

.realization_word-press_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    min-width: 170px;
    max-width: 170px;
    height: 50px;
    min-height: 50px;
    text-decoration: none;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: $color-16;
    color: $color-1;
    font-family: $Raleway-ExtraBold;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    transition: .3s linear;
    &:hover {
        animation: realization_word-press_button .3s ease-in;
        background-color: $color-1;
        color: $color-16;
    }
    &:focus {
        opacity: 0.8;
    }
}