$wrapper-max-width: 1920px;
$content: 1170px;
$html-fontsize: 62.5%;
/* color */
$color-1:#ffffff;
$color-2:#c7b299;
$color-3:#000000;
$color-4: #555555;
$color-5: #8c8c8c;
$color-6: #111111;
$color-7: #fbfaf8;
$color-8: #777777;
$color-9: #d1d1d1;
$color-10:#363636;
$color-11: #9299a9;
$color-12: #9299a9;
$color-13: #252525;
$color-14: #595f6f;
$color-15: #ebebeb;
$color-16: #998675;
$color-17: #f1eee9;
$color-18: #d3c1ad;
$color-19: #362f2d;
$color-20: #f8f8f8;
$color-21: #959595;
$color-22: #a48d72;
$color-23: #00baf4;
$color-24:#615855;
$color-25:#191919;
$color-26:#736357;
/* fonts */
$Montserrat: 'montserrat', 'Arial', sans-serif;
$Ultra-Regular: 'ultra-regular', 'Arial', sans-serif;
$Raleway-ExtraBold: 'raleway-extraBold', 'Arial', sans-serif;
$Raleway-SemiBold: 'raleway-semiBold', 'Arial', sans-serif;
$Raleway: 'raleway', 'Arial', sans-serif;
$Roboto: 'roboto-regular', 'Arial', sans-serif;
/* image */
$header-bg: url(../img/bg_header.png);



